body {
    zoom: 70%;
}

.nav123 {
    margin-bottom: 20px !important;
    background-color: rgb(16, 124, 28) !important;
    font-size: x-large;
    position: relative;
    color: azure !important;
}

.nav-link {
    width: 200px;
    margin-left: 30px;

}

.searchi {
    margin-left: 20%;
}


.navim {
    margin-left: auto !important;
}



.foot {
    background-color: rgb(16, 124, 28) !important;
    margin-top: 20px !important;
    bottom: 30px !important;
    width: 100% !important;
}

.card {
    width: 100% !important;
    height: 100% !important;
}

.detailstext {
    width: 50% !important;
    height: 100% !important;
    position: relative;
}

.card-img-top {
    width: 80% !important;
    height: 80% !important;
    padding-right: 10%;
}

.col-lg-2 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.btn {
    text-align: center !important;
    background-color: rgb(16, 124, 28) !important;
}

.container-fluid {
    background-color: rgb(16, 124, 28) !important;
}

.tmona {
    width: 50% !important;


}

.pro {
    font-size: xx-large;
    margin-bottom: 50px;

}

.texti {
    width: 50% !important;

}

.bdy {
    padding-top: 30px;
    font-size: x-large;
}

.sal {
    width: 30%;
}

.shura1 {
    width: 100% !important;
    height: 300px;
    margin-left: 50px !important;
    margin-right: 50px !important;
    margin-top: 10px;
    margin-bottom: 200px;
    align-items: center;
}

.shura2 {
    margin-left: 50px !important;
    margin-right: 50px !important;
    margin-top: 50px;
}


li {
    font-size: xx-large;
    width: 100% !important;

}

.geoli {
    margin-right: 40px;
    color: azure;
}

.pargeolei {
    text-align: right;
    font-size: 200% !important;
    height: 100% !important;
}

.shaot {
    width: 30% !important;
    margin-right: 40px;
    color: azure;
}

.parshaot {
    font-size: 200%;
    text-align: right;
    height: 100% !important;

}

.mapa {
    width: 30% !important;
    height: 100% !important;

}

span.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='azure' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

span.navbar-toggler-icon {
    border-color: azure !important;
}

.navbar-toggler {
    color: azure !important;
}

.geoli {
    margin-right: 40px;
    color: azure;
}

.shaot {
    width: 30% !important;
    margin-right: 40px;
    color: azure;
}

.mapa {
    width: 30% !important;
}

.zhoiot {
    color: azure;

}

@media screen and (max-width:1200px) {
    li {
        width: 200px !important;
        margin-left: auto;
    }
}

@media screen and (max-width:700px) {

    .shura2 {
        width: auto;
        display: flex;
        flex-direction: column;
        display: none;
    }

    .btn {
        width: auto;
    }

    .tmona {
        order: 1;
        box-sizing: border-box;
        width: 150% !important;
        align-items: center;

    }

    .texti {
        order: 2;
        box-sizing: border-box;
        align-items: center;

    }

    .bdy {
        width: 150% !important;
        align-items: center;

    }

    .pro {
        text-align: center;
    }

    .container {
        align-items: center !important;
        justify-content: center !important;
    }

    .mapa {
        display: none;
    }

    .pargeolei {
        text-align: center;
    }

    .parshaot {
        text-align: center;
    }

    .shaot {
        width: 100% !important;
    }
}