.nav123 {
    margin-bottom: 20px !important;
    background-color: rgb(16, 124, 28) !important;
    height: 80px;
    font-size: x-large;
    
 }
 .nav-link{
   width: 200px;

 }
 .salkniot{ margin-left: 400px;}
.foot {
    background-color: rgb(16, 124, 28) !important;
    margin-top: 20px !important;
    bottom: 30px !important;
    width: 100%!important ;
}

.card {
    width: 100% !important;
    height: 100% !important;
    padding-top: 60px !important;
    

}

.card-img-top {
    width: 100% !important;
    height: 100% !important;
}

.col-lg-2 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.btn {
  text-align: center !important;
  background-color: rgb(16, 124, 28) !important;
}
